input[type=text] {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    height: 100%;
    padding: 0.25rem 0.75rem;
}

input[type=text]:focus {
    box-shadow: none;
}

.checked label {
    color: #6c757d;
    text-decoration: line-through;
}