.score {
    position: absolute;
    top: 375px;
    left: 50%;
    width: 125px;

    table {
        position: relative;
        right: 165px;
    }

    button {
        position: relative;
        right: 90px;
    }
}