.score {
    position: absolute;
    top: 375px;
    left: 50%;
    width: 80px;

    table {
        position: relative;
        right: 125px;
    }

    button {
        position: relative;
        right: 125px;
    }
}