$startColorButton: #007bff;
$clearColorButton: #6c757d;

section.operation-buttons {
    display: flex;
    justify-content: center;
    
    button {
        border: 0;
        width: 50px;
        height: 50px;
        border-radius: 4px;
        font-weight: bold;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }

    .start {
        background: $startColorButton;
        margin-right: 8px;
        &:hover {
            background: change-color($startColorButton, $lightness: 40%);
        }
        &:disabled {
            background: change-color($startColorButton, $lightness: 60%);
        }
    }

    .clear {
        background: $clearColorButton;
        &:hover {
            background: change-color($clearColorButton, $lightness: 40%);
        }
        &:disabled {
            background: change-color($clearColorButton, $lightness: 60%);
        }
    }
}

.invisible {
    display: none;
}