body {
    background: #282A36;
    cursor: default;
}

h1, p, span {
    font-family: 'Roboto Mono', monospace;
    color: white;
    margin: 1.25rem 0 0;
}

span {
    color: #50FA7A;
}

input {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background: #00000000;
    border: none;
    width: 90%;
    font-size: 100%;
    padding: 0;
    margin-bottom: 1.25rem;
}

input:focus {
    outline: none;
}

input, input:hover {
    cursor: default;
}

.container {
    margin: 0 1.25rem;
}

.m-0 {
    margin: 0.25rem 0 0;
}