:root {
    --twinkle-color: #343a40;
}

.word {
    padding: 6px 0;
}

input[type=text] {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.error {
    color: #dc3545;
}

.twinkle {
    background: var(--twinkle-color);
    color: #f8f9fa;
}