// Variables

$img-paddings: ("hard": 4px, "medium": 8px, "easy": 12px);
$card-scene-sizes: ("hard": 100px, "medium": 130px, "easy": 175px);

$bp-xs: 575px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$bp-xs-sizes: ("hard": 55px, "medium": 65px, "easy": 65px);
$bp-sm-sizes: ("hard": 50px, "medium": 75px, "easy": 115px);
$bp-md-sizes: ("hard": 65px, "medium": 90px, "easy": 135px);
$bp-lg-sizes: ("hard": 75px, "medium": 100px, "easy": 150px);
$bp-xl-sizes: ("hard": 100px, "medium": 135px, "easy": 205px);


// Mixins

@mixin transform($property) {
    -webkit-transform: $property translate(1px);
        -ms-transform: $property translate(1px);
            transform: $property translate(1px);
}

@mixin size($property) {
    width: $property;
    height: $property;
}


// Code

.cards {
    margin: auto;
}

@each $difficult, $size in $card-scene-sizes {
    .card-scene-#{$difficult} {
        perspective: 1000px;
        margin: 4px;
        @include size($size);
    }
}

.card {
    @include size(100%);
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    @include size(100%);
    backface-visibility: hidden;
}

img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@each $difficult, $padding in $img-paddings {
    .img-#{$difficult} {
        padding: $padding;
    }
}

.back, .flip {
    @include transform(rotateY(-180deg));
}


@media (max-width: $bp-xs) {
    .cards {
        width: 300px;
    }
    @each $difficult, $size in $bp-xs-sizes {
        .card-scene-#{$difficult} {
            @include size($size);
        }
    }
}

@media (min-width: $bp-sm) {
    .cards {
        width: 500px;
    }
    @each $difficult, $size in $bp-sm-sizes {
        .card-scene-#{$difficult} {
            @include size($size);
        }
    }
}

@media (min-width: $bp-md) {
    .cards {
        width: 600px;
    }
    @each $difficult, $size in $bp-md-sizes {
        .card-scene-#{$difficult} {
            @include size($size);
        }
    }
}

@media (min-width: $bp-lg) {
    .cards {
        width: 670px;
    }
    @each $difficult, $size in $bp-lg-sizes {
        .card-scene-#{$difficult} {
            @include size($size);
        }
    }
}

@media (min-width: $bp-xl) {
    .cards {
        width: 867px;
    }
    @each $difficult, $size in $bp-xl-sizes {
        .card-scene-#{$difficult} {
            @include size($size);
        }
    }
}