.card-hard { display: none; }
.card-medium { display: none; }
.card-easy { display: none; }

@media (min-width: 768px) {
    .card-hard {
        display: block;
        width: 60px;
        height: 60px;
        padding: 4px;
        margin: 2px;
        text-align: center;
    }
    
    .img-hard {
        max-width: 50px;
        max-height: 50px;
        margin: auto;
    }

    .card-medium {
        display: block;
        width: 75px;
        height: 75px;
        padding: 4px;
        margin: 2px;
        text-align: center;
    }
    
    .img-medium {
        max-width: 65px;
        max-height: 65px;
        margin: auto;
    }

    .card-easy {
        display: block;
        width: 100px;
        height: 100px;
        padding: 4px;
        margin: 2px;
        text-align: center;
    }
    
    .img-easy {
        max-width: 90px;
        max-height: 90px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .card-hard {
        display: block;
        width: 85px;
        height: 85px;
        padding: 6px;
        margin: 3px;
        text-align: center;
    }
    
    .img-hard {
        max-width: 71px;
        max-height: 71px;
        margin: auto;
    }

    .card-medium {
        display: block;
        width: 100px;
        height: 100px;
        padding: 6px;
        margin: 3px;
        text-align: center;
    }
    
    .img-medium {
        max-width: 86px;
        max-height: 86px;
        margin: auto;
    }

    .card-easy {
        display: block;
        width: 145px;
        height: 145px;
        padding: 6px;
        margin: 3px;
        text-align: center;
    }
    
    .img-easy {
        max-width: 131px;
        max-height: 131px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .card-hard {
        display: block;
        width: 100px;
        height: 100px;
        padding: 8px;
        margin: 4px;
        text-align: center;
    }
    
    .img-hard {
        max-width: 82px;
        max-height: 82px;
        margin: auto;
    }

    .card-medium {
        display: block;
        width: 130px;
        height: 130px;
        padding: 8px;
        margin: 4px;
        text-align: center;
    }
    
    .img-medium {
        max-width: 112px;
        max-height: 112px;
        margin: auto;
    }

    .card-easy {
        display: block;
        width: 175px;
        height: 175px;
        padding: 8px;
        margin: 4px;
        text-align: center;
    }
    
    .img-easy {
        max-width: 157px;
        max-height: 157px;
        margin: auto;
    }
}