@media print {
    .container {
        max-width: none;
        padding: 0;
    }

    h1 {
        display: none;
    }

    form {
        display: none;
    }

    .justify-content-center {
        justify-content: start!important;
    }
}