.carousel {
    position: relative;
    width: 100%;
    font-size: 0;
}

.item {
    display: none;
    opacity: 0;
}

.active {
    display: block;
    opacity: 1;
    animation: fade-in 0.5s ease-in-out;
}

.btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    width: 10%;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    z-index: 1;
}

.previous {
    left: 0;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 1));
}

.previous:hover {
    opacity: 0.65;
}

.next {
    right: 0;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
}

.next:hover {
    opacity: 0.65;
}

.caption {
    position: absolute;
    margin: 0 auto;
    bottom: 25px;
    color: white;
    left: 10%;
    right: 10%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.caption h5 {
    font-size: 1.25rem;
    margin: 0 0 0.75rem;
}

.caption p {
    font-size: 1rem;
    margin: 0;
}

@keyframes fade-in {
    from { opacity: 0.67; }
    to { opacity: 1; }
}