.carousel-3d {
    position: relative;
    width: 1120px;
    height: 630px;
    font-size: 0;
    margin: 0px auto 100px;
    perspective: 1000px;
}

.image-container-3d {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 40px auto;
    transform: translateZ(-771px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item-3d {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    transition: transform 1s;
}

.btn-3d {
    position: absolute;
    padding: 10px;
    bottom: 0;
}

.next-3d {
    right: 0;
}

.item-3d:nth-child(1) { transform: rotateY(  0deg) translateZ(771px); }
.item-3d:nth-child(2) { transform: rotateY( 72deg) translateZ(771px); }
.item-3d:nth-child(3) { transform: rotateY(144deg) translateZ(771px); }
.item-3d:nth-child(4) { transform: rotateY(216deg) translateZ(771px); }
.item-3d:nth-child(5) { transform: rotateY(288deg) translateZ(771px); }