body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    background-color: none;
    outline: none;
}

.container {
    margin: auto;
}

@media (min-width: 576px)  { .container { width: 540px;  } }
@media (min-width: 768px)  { .container { width: 720px;  } }
@media (min-width: 992px)  { .container { width: 960px;  } }
@media (min-width: 1200px) { .container { width: 1140px; } }