$img-paddings: ("hard": 4px, "medium": 8px, "easy": 12px);
$card-scene-sizes: ("hard": 100px, "medium": 130px, "easy": 175px);

@mixin transform($property) {
    -webkit-transform: $property translate(1px);
        -ms-transform: $property translate(1px);
            transform: $property translate(1px);
}

.cards {
    margin: auto;
}

@each $difficult, $size in $card-scene-sizes {
    .card-scene-#{$difficult} {
        perspective: 1000px;
        margin: 4px;
        width: $size;
        height: $size;
    }
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@each $difficult, $padding in $img-paddings {
    .img-#{$difficult} {
        padding: $padding;
    }
}

.back, .flip {
    @include transform(rotateY(-180deg));
}


@media (max-width: 767px) {
    .card-scene-hard {
        width: 40px;
        height: 40px;
    }
    
    .card-scene-medium {
        width: 55px;
        height: 55px;
    }
    
    .card-scene-easy {
        width: 75px;
        height: 75px;
    }
}

@media (min-width: 768px) {
    .card-scene-hard {
        width: 75px;
        height: 75px;
    }
    
    .card-scene-medium {
        width: 105px;
        height: 105px;
    }
    
    .card-scene-easy {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 992px) {
    .cards {
        width: 600px;
    }

    .card-scene-hard {
        width: 65px;
        height: 65px;
    }
    
    .card-scene-medium {
        width: 90px;
        height: 90px;
    }
    
    .card-scene-easy {
        width: 125px;
        height: 125px;
    }
}

@media (min-width: 1200px) {
    .cards {
        width: 1000px;
    }

    .card-scene-hard {
        width: 115px;
        height: 115px;
    }
    
    .card-scene-medium {
        width: 150px;
        height: 150px;
    }
    
    .card-scene-easy {
        width: 240px;
        height: 240px;
    }
}