/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 1.5rem 0;
}

section.configuration-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #342b38;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
section.configuration-panel .timeline {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
section.configuration-panel .timeline::-webkit-scrollbar {
  display: none;
}
section.configuration-panel::-webkit-scrollbar {
  display: none;
}
section.configuration-panel .upload {
  min-width: 100px;
  height: 100px;
  background-color: #f4f4f4;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
section.configuration-panel input[type=file] {
  display: none;
}
section.configuration-panel .img-container {
  position: relative;
  cursor: pointer;
}
section.configuration-panel .img-container:hover::before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: black;
  opacity: 0.6;
}
section.configuration-panel .img-container:hover::after {
  content: "";
  position: absolute;
  background: url(../../svg/trash.svg) no-repeat;
  background-size: 50px;
  top: 25px;
  left: 25px;
  width: 100px;
  height: 100px;
}
section.configuration-panel .img-container .uploaded-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
section.configuration-panel .img-container .uploaded-image.highlight {
  border: 2px solid white;
  width: 96px;
  height: 96px;
}

.configuration-panel-extends .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.configuration-panel-extends .input-container label[for=speed] {
  margin-right: 8px;
}
.configuration-panel-extends .input-container label[for=loop] {
  margin-left: 8px;
}
.configuration-panel-extends .input-container .speed-output {
  margin-left: 8px;
}

section.animation-display {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
section.animation-display .display {
  width: 300px;
  height: 300px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
section.animation-display .display img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.operation-buttons {
  display: flex;
  justify-content: center;
}
section.operation-buttons button {
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
}
section.operation-buttons button:focus {
  outline: none;
}
section.operation-buttons .start {
  background: #007bff;
  margin-right: 8px;
}
section.operation-buttons .start:hover {
  background: #0062cc;
}
section.operation-buttons .start:disabled {
  background: #3395ff;
}
section.operation-buttons .clear {
  background: #6c757d;
}
section.operation-buttons .clear:hover {
  background: #5f666d;
}
section.operation-buttons .clear:disabled {
  background: #9299a0;
}

.invisible {
  display: none;
}

/*# sourceMappingURL=style.css.map */
